<ion-view view-title="Accueil">
  <ion-content class="padding">
    <h1>bsTIME v2</h1>
      
    <div class="card">
      Bienvenue sur l'application bsTIME ! L'application est toujours en phase de test, ainsi n'hésitez pas à faire remonter tout problème ou toute suggestion éventuelle. Si cela n'est pas déjà fait, vous allez être invité à entrer votre clef d'activation avant de pouvoir utiliser l'application.
      <br />
      Dans l'onglet "travail préparatoire", vous pourrez paramétrer vos tâches : ajout, suppression, favori.
      <br />
      Dans l'onglet "saisie", vous pourrez débuter votre journée et tester le coeur de l'application.
      <br />
      L'onglet "options" vous permet de désactiver le mode démo si nécessaire, ainsi que d'envoyer les informations sur le site d'analyse à froid. </div>
      <br />
      <span class="btn" ng-click="schedule()">Scheduler</span>
      
  
  </ion-content>
</ion-view>
