<ion-view view-title='Saisie - {{clock | date:"HH:mm"}} {{ demo == "YES" ? "(Demo)" :"" }}'>
    <ion-content class="padding" ng-hide="isAllowed">
        Vous n'avez associé cette tablette à aucun utilisateur. Impossible d'accéder à cette partie.

        Entrez une clef pour vous connecter : <br />
        <label class="item item-input">
          <input ng-model="activationKey" type="text" placeholder="Clef d'activation">
        </label>
        <input type="submit" class="button button-assertive" ng-click="activer(activationKey)"/>


    </ion-content>
  <ion-content class="padding" ng-show="isAllowed">

    <div class="dash-header" ng-show="saisie">
        <!--<div class="pull-left">
            <span class="small button button-stable">{{clock | date:'HH:mm'}} </span>
        </div>-->   
        <div class="pull-right">
        <span class="small button button-stable" ng-hide="en_deplacement">{{activite.tache}} <br />{{ activite.categorie }}</span>
        <span class="small button button-stable" ng-show="en_deplacement">Déplacement en cours</span> 
        <button class="button button-calm" ng-click="activiteModal.show(); scrollMe('choix_tache');">Changer</button>
        </div>
      
      </div>
      
            <div class="dash-main padding" ng-hide="saisie">
                
              
            <button class="button button-calm" ng-click="debutJournee()" ng-hide="saisieFinie">
              Commencer la journée
            </button>
                
                <div class="card" ng-show="saisieFinie">
                Vous avez déjà complété votre journée. 
                </div>

                
      </div>
      <div class="dash-main" ng-show="saisie">
          
          <button class="big button button-assertive" ng-click="pause()" ng-hide="en_deplacement">
              <i class="icon ion-pause"></i>
              Pause</button>
        <button class="big button button-calm" ng-click="pause('CHANGE')" ng-show="en_pause">
              <i class="icon ion-pause"></i>
              Changer
              </button>
          <button class="big button button-energized" ng-click="interruptionModal.open()" ng-hide="en_pause">  
               <i class="icon ion-alert"></i>
             Interruption
          </button>
          <button class="big button button-balanced" ng-click="eclair()" ng-hide="en_deplacement">  <i class="icon ion-alert"></i> Interr. éclair <span class="notif-eclair">{{ nb_eclairs }}</span> </button>
          
          
         
         
                
      </div>
      
      <div class="dash-footer">
           <button class="button button-balanced" ng-click="noteModal.open()" ng-hide="!saisie || en_deplacement">Note</button> 
         <button class="button button-calm" ng-click="deplacement()" ng-hide="!saisie || en_pause || en_deplacement">Déplacement</button> 
          <button class="button button-calm" ng-click="deplacement()" ng-hide="!saisie || en_pause || !en_deplacement">Finir le déplacement</button> 
         <button class="button button-dark" ng-click="finJournee()" ng-show="saisie">Fin de journée</button>
      </div>
      
  </ion-content>
</ion-view>
