<ion-modal-view>
  <ion-content class="padding">
      <h1>Interruption</h1>
      
      <form>
          
          <div class="padding" style="overflow: hidden;">
            
             <div class="pull-left"> Début : 
                
                <select ng-model="interr.hdebut.h">
                    <option ng-repeat="n in range(0,23)" value="{{n}}">{{n}}</li>
                </select>H
               <select ng-model="interr.hdebut.min">
                    <option ng-repeat="n in range(0,59)" value="{{n}}">{{n}}</li>
                </select>
                            
            
            </div>
        
            <div class="pull-right">
               Fin :  <br />{{clock | date:'HH:mm:ss'}} 
              </div>
          </div>
    
    
      
      <ul class="tasklist row">

          <li class="padding col50" ng-repeat="t in choix.interruptions track by $index">
              <input type="radio" class="hidden" name="interr.cause" id="t{{ $index }}" ng-model="$parent.interr.cause" value="{{ t }}"/><label for="t{{ $index }}">{{ t }}</label>
          </li>
          
    
          
      </ul>
      
      <button class="button button-assertive" ng-click="interruptionModal.hide()">Annuler</button>
      <button class="button button-calm" ng-show="interr.cause" ng-click="interruption(interr, creerHeure(interr.hdebut.h, interr.hdebut.min), clock)">Finir interruption</button>
          
       </form>
      
      
  </ion-content>
</ion-modal-view>